<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <title>Profile Generator</title>
  <style>
    h1{
        color:blueviolet;
    }
    .article{

/*margin: 1.5rem 4vw;*/
border-radius: 1rem;
background-color: rgba(238, 237, 237, 0.22);
border-color: rgba(238, 237, 237, 0.22);
box-shadow: 5px 6px 6px 2px #e9ecef;
text-align: left;
width:800px;
margin-top: 50px;
margin-left: 250px;
}
  </style>
</head>
<body>
  

  <nav>
    <h1>Team Profile Generator</h1>
  </nav>

<!--this body section will be replaced by number of cards-->
<!--every card is based on card.html-->
  <section>
    {{body}}
  </section>



</body>
</html>